<h1><b>Rules of Rock, Paper, Scissors</b></h1>

<p>
 On a countdown to three, two players simultaneously make one of three hand signs, chosen at will: 

 <li> rock (a fist);</li>
 <li> paper (an open hand, facedown, with fingers together);</li>
  <li>scissors (a partial fist with the index and middle finger extended)</li></p>

 <p><strong>This SINGLE rule determines the winner: “Rock breaks scissors, scissors cuts paper, paper covers rock.” </strong></p>
 
<p>This yields a winner whenever the two players choose differently. When they choose the same sign, it’s a tie.</cite></p>